<select id="send_from_did">
  <option value="{{did}}">{{did}}</option>
  {{#each didList as |did index|}}
    <option value="{{did}}">{{did}}</option>
  {{/each}}
</select> <br />

<div class="collapsible-wrapper">
  <h4><label for="collapser-send-message">Send an SMS (+/-)</label></h4>
  <input type="checkbox" id="collapser-send-message" class="collapser" />

  <div class="collapsible">
    <input id="send_to_did" type="text" placeholder="To: e.g. 15195551234" />
    <span id="clear_send_to_did" style="cursor: pointer">x</span> <br />
    <label>
      Message: <br />
      <textarea id="send_message" rows="5" cols="60"></textarea>
    </label> <br />
    <button id="send_submit">Send message</button> <br />
  </div>
</div>

<script type="text/javascript">
  $('#send_from_did').change(function(e) {
    const newUrl = `/messages/${$(this).val()}`
    window.location = newUrl
  })
  $('#send_submit').click(function(e) {
    const fromDid = $('#send_from_did').val()
    const toDid = $('#send_to_did').val()
    const message = $('#send_message').val()
    if (!fromDid || !toDid || !message) {
      alert('Invalid message parameters')
      return
    }
    
    fetch(`/send/${toDid}`, {
      method: 'POST',
      credentials: 'same-origin',
      headers: {
        'Content-Type': 'application/json',
        Accept: 'application/json'
      },
      body: JSON.stringify({
        from: fromDid,
        msg: message
      })
    }).then(response => {
      if (!response.ok) throw response
      return response.text()
    }).then(payload => {
      console.log(payload)
      window.location.reload()
    }).catch(error => {
      alert("Something went wrong")
      console.error(error)
    })
  })

  $(document).ready(function(e) {
    $('.conversation-header').click(function() {
      const did = $(this).data('did')
      $('#send_to_did').val(did)
    })
    $('#clear_send_to_did').click(function() {
      $('#send_to_did').val('')
    })
  })
</script>
