const secrets = {
  apiLogin: '',
  apiPassword: '',

  xmppDomain: '',
  xmppPort: '5280',
  xmppMappings: {
  },
  reverseXmppMappings: {
  },

  smsBotDomain: '',
  smsBotPassword: '',

  httpsKeyFile: '',
  httpsCertFile: ''
}

module.exports = secrets
