const secrets = {
  apiLogin: '',
  apiPassword: '',

  xmppUrl: '',
  xmppPort: '5280',
  xmppMappings: {
  },
  reverseXmppMappings: {
  },

  smsBotDomain: '',
  smsBotPassword: ''
}

module.exports = secrets
