const secrets = {
  apiLogin: 'username',
  apiPassword: 'password',

  useXmpp: false,
  xmppUser: '',
  xmppPassword: '',
  xmppUrl: 'xmpp.verdexus.com',
  xmppPort: '5280',
  xmppMappings: {
    '12262201584': 'devin'
  },

  didList: [
    '12262201584'
  ],

  users: { 'username': 'password' }
}

module.exports = secrets
