input.collapser {
  display: none;
}

input.collapser ~ .collapsible {
  display: none;
}

input.collapser:checked ~ .collapsible {
  display: block;
}

.message-wrapper {
  width: 100%;
  position: relative;
}

.message-wrapper > .message {
  max-width: 50%;
  position: relative;
  display: inline-block;
  border-radius: 0.5em;
  padding: 0.5em;
}

.from-me > .message {
  right: 0;
}

.to-me > .message {
  left: 0;
}

.formatted_time {
  font-size: x-small;
}
